*{
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;

}
.container{
    display: flex;
    flex-direction: row;
    align-items:stretch;
    justify-content: center;
    flex-wrap:wrap-reverse; 
    /* justify-content:center; */  


}
    .card{
    height: 20px;
    width: 200px;
   padding: 20px;
   margin: 10px;
    /* background-color: aquamarine; */
    border: 3px solid rgb(185, 111, 38);
    box-shadow: 0 0 20px rgb(26, 26, 25);
    color: rgb(10, 11, 12);
    font-size: 30px;
     display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: algerian;

    }
    .card:nth-child(6){
    
        background-color: blue;
        order: 1;
     }
     .card:nth-child(2){
    
        background-color: rgb(225, 148, 40);
        /* order: 1; */
     }
     .card:nth-child(3){
    
        background-color: rgb(31, 188, 104);
        /* order: 1; */
     }
     .card:nth-child(4){
    
        background-color: rgb(177, 90, 117);
        /* order: 1; */
     }

/* .child{ */
    /* height: 20px;
    width: 200px;
    background-color: aquamarine;
    border: 3px solid rgb(14, 166, 102);
    box-shadow: 10px black; */


/* } */
    /* .card1{
    height: 50px;
    width: 200px; 
    background-color: rgb(69, 10, 163);
    border: 3px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px black;

}
.card2{
    height: 50px;
    width: 200px;
    background-color: aqua;
    border: 3px solid orange;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px black;


}
.card3{
    height: 50px;
    width: 200px;
    background-color: brown;
    border: 3px solid orange;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:0 0 10px black;
}
.card4{
    height: 50px;
    width: 200px;
    background-color: rgb(42, 165, 73);
    border: 3px solid orange;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:0 0 10px black;
}
.card5{
    height: 50px;
    width: 200px;
    background-color:yellow;
    border: 3px solid orange;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:0 0 10px black;
}
.card6{
    height: 50px;
    width: 200px;
    /* background-color:black; */
    /* border: 3px solid orange;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:0 0 10px black;
    /* color: aliceblue; */
    
/* } */
/* .card:nth-child(1){
    
    background-color: blue;
    order: 1;
 } */