body{
    padding: 0%;
    margin: 0%;
    background-color:black;
    display: flex;
    justify-content:center;
    align-items:center;
    cursor:zoom-in;
} 

.box1{
    background-color:rgb(250, 254, 252);
    width: 100px;
    height: 100px;
    
    /* display: flex;
    justify-content:center;
    align-items:center; */
    border: 2px solid rgb(6, 5, 5);
    /* position:absolute;
    bottom: 200px;
    left: 100px; */
    animation-name: circle;
    animation-duration: 4s;
    cursor:zoom-in;
}
/*linear
ease
ease-in
ease-out
ease-in-out*/

   @keyframes circles {
    0%{
            transform:translate(0,0);
     } 25%
    {
        transform:translate(200px,0);
    }
    50%{
         transform:translate(200px,200px);
    }
    75%{
        transform: translate(0,200px);
    }
   }

   






